aioice==0.9.0
aiortc==1.10.1
altair==5.5.0
asttokens==2.4.1
attrs==25.3.0
av==13.1.0
beautifulsoup4==4.13.3
blinker==1.9.0
brotli
cachetools==5.5.2
certifi
cffi==1.17.1
charset-normalizer
click==8.1.8
colorama==0.4.6
comm==0.2.2
cryptography==44.0.2
debugpy==1.8.7
decorator
Deprecated
dnspython==2.7.0
executing==2.1.0
filelock
fsspec
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.44
gmpy2
google-crc32c==1.7.0
idna
ifaddr==0.2.0
importlib-metadata
ipykernel==6.29.5
ipython==8.28.0
jedi==0.19.1
Jinja2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
MarkupSafe
matplotlib-inline==0.1.7
mkl-service==2.4.0
mpmath
narwhals==1.31.0
nest-asyncio==1.6.0
networkx
numpy==2.2.4
opencv-python==4.10.0
opencv-python-headless==4.10.0
opentelemetry-api
packaging==24.1
pandas==2.2.3
parso==0.8.4
pillow
platformdirs==4.3.6
prompt_toolkit==3.0.48
protobuf==5.29.4
psutil
pure_eval==0.2.3
pyarrow==19.0.1
pycparser==2.22
pydeck==0.9.1
pyee==13.0.0
Pygments==2.18.0
pylibsrtp==0.11.0
pyOpenSSL==25.0.0
PySocks
python-dateutil==2.9.0.post0
pytz==2025.1
pywin32==308
pyzmq==26.2.0
referencing==0.36.2
requests
rpds-py==0.23.1
setuptools==75.8.0
six==1.16.0
smmap==5.0.2
soupsieve==2.6
stack-data==0.6.3
streamlit==1.43.2
streamlit-option-menu==0.4.0
streamlit-webrtc==0.53.7
sympy
tenacity==9.0.0
toml==0.10.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
typing_extensions
tzdata==2025.2
urllib3
watchdog==6.0.0
wcwidth==0.2.13
wheel==0.45.1
win-inet-pton
wrapt
zipp
